#div1{
    border: 5px solid;
    width: 290px;
    height: 500px;
    background-color: rgb(144, 240, 144);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 150px;
    margin-top: 66px;
    overflow: scroll;
    position: fixed;
    box-shadow: 10px 10px 10px;
    
}
#div2{
    border: 5px solid;
    background-color: rgb(89, 86, 86);
    width: 290px;
    height: 60px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: 150px;
    margin-top: px;
    position: fixed;
    box-shadow: 10px 0px 10px;
}
::-webkit-scrollbar
{
    display: none;
}
.img{
    border: 3px solid;
    width: 50px;
    height: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 30px;
    margin-top: 2px;
}
#p{
    margin-left: 90px;
    margin-top: -40px;
    color: white;
}


#v{
    margin-left: 170px;
    margin-top: -35px;
    color: white;
}
#c{
    margin-left: 220px;
    margin-top: -22px;
    color: white;
}
#m{
    margin-left: 260px;
    margin-top: -20px;
    color: white;
}
#a{
    margin-left:3px;
    margin-top: -20px;
    color: white;
}

#c1{
    border: 3px solid ;
    width: 80px;
    margin-left: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#c2{
    border: 3px solid;
    width: 40px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#c3{
    border: 3px solid;
    width: 190px;
    margin-left: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#c4{
    border: 3px solid;
    width: 130px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#c5{
    border: 3px solid;
    width: 50px;
    margin-left: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#c6{
    border: 3px solid;
    width: 150px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#c7{
    border: 3px solid;
    width: 120px;
    margin-left: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#c8{
    border: 3px solid;
    width: 190px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#c9{
    border: 3px solid;
    width: 120px;
    margin-left: 158px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#c10{
    border: 3px solid;
    width: 20px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#c11{
    border: 3px solid;
    width: 80px;
    margin-left: 198px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#c12{
    border: 3px solid;
    width: 25px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#c13{
    border: 3px solid;
    width: 150px;
    margin-left: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#c14{
    border: 3px solid;
    width: 140px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#c15{
    border: 3px solid;
    width: 70px;
    margin-left: 210px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#c16{
    border: 3px solid;
    width: 160px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#c17{
    border: 3px solid;
    width: 50px;
    margin-left: 229px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#c18{
    border: 3px solid;
    width: 120px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#c19{
    border: 3px solid;
    width: 90px;
    margin-left: 189px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#c20{
    border: 3px solid;
    width: 25px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

   #c21{
    margin-top: -780px;
    margin-left: 90px;
    position: fixed;
    opacity: 0.4;
   }